.space-1 
{
   margin-top: 2em;
}

.space-2 
{
   margin-top: 4em;
}

.space-left
{
   margin-left: .5em;
}

.letter-mass
{
    height: 4em;
    width:  4em;
}

.letter-solution-mass
{
    height: 3em;
    width:  3em;
    background-color: lightgrey;
}

.letter-inactive
{
    background-color: lightblue;
}

.letter-selected
{
    background-color: lightgreen;
}

.letter-notselected
{
    background-color: lightblue;
    opacity: 0.2;
}

.letter-wrong 
{
    background-color: red;
}

.solution
{
    margin-left: .5em; 
    margin-right: .5em; 
}

.solution-letter
{
    font-size: 1.5rem;
}

.letter-box-top
{
    margin-left: .1em;
    background-color: #bdbdbd;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.letter-box-bottom
{
    margin-left: .1em;
    background-color: #bdbdbd;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.solutioncloud > span
{
    margin: .2rem;
}

.error 
{
    color: red;
}

.heart-inactive
{
    color: white;
}

.heart-active
{
    color: red;
}

.sharebox
{
    margin-top: -1.5em;
}

.btn-circle
{
    font-size: 4rem;
    background-color: #bdbdbd;
}

.btn-mass
{
    width: 2em;
    height: 2em;
    padding: 0.25em 0.5em;
    font-size: 1.4em;
}
